/* ===== Google Font Import - Poppins ===== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

body {
  background-color: #0E0D0D;
}
/*--------------------------------------- Navigation Bar ----------------------------------------*/
h1 {
  color: yellow;
  text-align: center;
  padding: 30px;
  background-color: red;
}

nav {
  width: 90%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_button {
  background-color: transparent;
  color: #FFCC00;
  padding: 15px;
  font-size: 15px;
  cursor: pointer;
  border: 1px solid #FFCC00;
}

.button {
  position: relative;
  display: inline-block;
}

.logo {
  width: 270px;
  cursor: pointer;
  text-align: center;
}

.dropdown-menu {
  display: none;
  position: absolute;
  min-width: 200px;
  z-index: 1;

}

.dropdown-menu a {
  color: #B9B7B7;
  display: block;
  padding-top: 20px;
}

.dropdown-menu a:hover {
  color: #FFCC00;
}

.button:hover .dropdown-menu {
  display: block;
}

.button:hover .nav_button {
  background-color: transparent;
}

.icon {
  width: 40px;
  float: right;
  padding: 0px 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  min-height: 100vh;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px;
}

.container .search-box {
  position: relative;
  height: 50px;
  max-width: 450px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.search-box input {
  position: absolute;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: #323334;
  padding: 0 15px 0 45px;
  color: #fff;
  font-size: 20px;
  border-radius: 6px;
}

.search-box i {
  position: absolute;
  z-index: 2;
  color: #999;
  top: 50%;
  left: 15px;
  font-size: 22px;
  transform: translateY(-50%);
}

.container .images .image-box {
  position: relative;
  height: 350px;
  width: 280px;
  border-radius: 8px;
  overflow: hidden;
}

.images {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.images .image-box {
  margin: 12px;
}

.images .image-box img {
  height: 100%;
  width: 100%;
  border-radius: 6px;
  transition: transform 0.2s linear;
}

.image-box:hover img {
  transform: scale(1.05);
}

.image-box h6 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
}

/*--------------------------------------- Footer Section ---------------------------------------*/
.footer {
  margin-top: 100px;
  width: 100%;
  padding: 1 00px 100px;
  background: #AD8943;
}

h3 {
  text-align: center;
}

.col-1 p {
  padding: 10px 70px;
  font-size: medium;
  align-items: center;
  text-align: justify;
  color: #0E0D0D;

}



.footer div {
  text-align: left;
  color: #0E0D0D;
}

.col-2 {
  padding: 10px 320px;


}

.col-2 a {
  padding: 10px;
  color: #0E0D0D;
  margin-bottom: 10px;
  display: inline-block;


}

.col-3 {
  padding: 10px 270px;
}

.col-3 a {
  padding: 20px;
  color: #0E0D0D;
  margin-bottom: 10px;
  display: inline-block;
}

.col-4 {
  padding: 10px 570px;
}

.col-4 img {
  width: 40px;
  padding: 20px;
}

.col-1 a {
  color: #FFCC00;
  cursor: pointer;
}

.col-5 p {
  text-align: center;
  color: #0E0D0D;
}

.col-6 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 50px;
  margin-bottom: 20px;
}

.col-6 a {
  color: #0E0D0D;
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid #0E0D0D;
  margin-left: 43%;

}
